@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Style+Script&family=WDXL+Lubrifont+TC&display=swap');

body {
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* Optional custom styles for NProgress */
#nprogress .bar {
  background: #3b82f6; /* Tailwind blue-500 */
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #3b82f6, 0 0 5px #3b82f6;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}